
{% extends "layout.html" %}

{% block content %}
  <p>Template: <strong>mobile/index.html</strong></p>
  <p>
    request.MOBILE:
    <strong>{% if request.MOBILE %}True{% else %}False{% endif %}</strong>
  </p>
{% endblock %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h2 class="index-header">My Latest Project</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>How to Build a Data Science Portfolio Website</h6>
                        </div>
                    </div>
                    <div class="row">
                        <a target="_blank" href="https://github.com/annakoretchko/personal-website">
                            <img class="portfolio-img" src="/static/img/portfolio-website.png">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            <a class="about-link" href="https://github.com/annakoretchko/personal-website">This way</a> to see the source code for the website you're currently on!
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <!-- <h2 class="index-header">My most recent course</h2> -->
                            <h2 class="index-header">Currently Working On</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <!-- <h6>Udacity's Intro to Data Structures and Algorithms</h6> -->
                            <h6>Algorithmic Trading -- Removing Human Bias</h6>

                        </div>
                    </div>
                    <div class="row">
                        <!-- <a target="_blank" href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">
                            <img class="portfolio-img" src="/static/img/udacity.png">
                        </a> -->
                        <a target="_blank" href="https://github.com/annakoretchko/simple_trade/tree/master">
                            <img class="portfolio-img" src="/static/img/algo_trade_2.png">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            And <a target="_blank" class="about-link" href="/portfolio">this way</a> to see more of my projects!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}