

{% extends "layout.html" %}


{% block title %}
    About Me
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                    <h2 class="about-header">My Learning Path</h2>
                </div>
            </div>
        </div>
        
        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h2>Spring 2019</h2>
                        <h4> Graduated from the University of Florida</h4>
                        
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>Summer 2019</h2>
                        <h4> Master of Science in Analytics </h4>
                        <h4> Georgia Institute of Technology</h4>
                        <ul>
                            <li>
                                <a target="_blank" class="about-link" href="https://dash.generalassemb.ly/">Ranked #1</a>
                                in the US for Best Industrial Engineering Programs
                            </li>

                            <li>
                                <a target="_blank" class="about-link" href="https://pe.gatech.edu/degrees/analytics/curriculum">Curriculum Includes</a>:
                                <ul>
                                    <li>
                                <p>Deteriministic Optimization<p>
                                    <li>
                                <p>Computational Data Analytics / Machine Learning<p>
                                    <li>
                                <p>Financial Modeling<p></p>
                                    </li>
                                    <li>
                                <p>Data and Visual and Analytics<p>
                                    </li>  
                                     <li> 
                                <p>Regression Analysis<p>
                                    <li>
                                <p>Data Analytics in Business<p>
                                    </li>
                                    <ul>
                                        
                                    
                            </li>

                        </ul>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>Fall 2019</h2>
                        <h4>Technical Software Support Engineer @ Qlik</h4>
                        </ul>
                            <li>
                                <a>While at</a>
                                <a target="_blank" class="about-link" href="https://www.qlik.com/us/company">Qlik</a>:
                            </li>
                                <ul>
                                    <li>
                                <p>Collaborated across teams and team members in an agile environment to investigate and solve problems on newly released software<p>
                                    <li>
                                <p>Used tools such as Jira and Salesforce to assist in deployment of release fixes<p>
                                    <li>
                                <p>Troubleshoot business intelligence dashboards through virtual environments, fixing APIs calls, Ports, Firewalls, SQL scripts, server logs, SaaS software yaml files</p>
                                    </li>
                                    <li>
                                <p>Directly customer facing. Needed to be able to solve difficult technical situations under pressure as the custmer could be stressed<p>
                                    </li>  
                                </li>
                             <ul>
                        </ul>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>Summer 2020 -- Present</h2>
                        <h4>Data Scientist @ Gateway Institute for Brain Research</h4>
                        </ul>
                            <li>
                                <a>Currently at</a>
                                <a target="_blank" class="about-link" href="https://www.gifbr.com/">Gateway Institute for Brain Research</a>:
                            </li>
                                <ul>
                                    <li>
                                <p>Increasing company efficiency through programmatically solving issues<p>
                                    <li>
                                <p>Building models(neural network, regression analysis etc), selecting features, and optimizing classifiers using machine learning techniques to accurately predict drug efficacy<p>
                                    <li>
                                <p>Data mine to create robust database for ad-hoc analysis of drug development</p>
                                    </li>
                                    <li>
                                <p>Lead Data Science Department meetings<p>
                                    </li>  
                                    <li>
                                <p>Project proposal planning,writing, editing and submission for new projects to increase portfolio of company as a whole and progress in the cure for Parkinson’s Disease<p>
                                    </li>  
                                </li>
                             <ul>
                        </ul>
                </div>
            </div>

        <d/iv class="row portfolio-row justify-content-center">
        </div class="col-md-8">
                <hr/>
            </div>
        </div>

        <div class="row about-row justify-content-center">
            <div class="col-12 p-0 text-center">
                <h2 class="about-header">My Skills:</h2>
            </div>
        </div>
        <div class="row row-legend justify-content-center">
            <div class="col-12 p-0 text-center">
                <p>
                    1 - Basic<span class="about-legend"></span>
                    2 - Novice<span class="about-legend"></span>
                    3 - Intermediate
                </p>
                <p class="m-0">
                    4 - Advanced<span class="about-legend"></span>
                    5 - Expert
                </p>
            </div>
        </div>
        <div class="row row-legend justify-content-center about-header">
            Hover cursor over bars for more information
        </div>
        <div class="row about-row justify-content-center">
            {% for topic, one_skill in skills.items() %}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="skill-cat text-center">
                    <h5>{{ topic }}</h5>
                </div>
                <h5>{{ skills }}</h5>
            </div>
            {% endfor %}
        </div>
    </section>

    <p>HTML</p>
    <div class="container-skilz ">
      <div class="skills html">90%</div>
    </div>
    
    <p>CSS</p>
    <div class="container-skilz ">
      <div class="skills css">80%</div>
    </div>
    
    <p>JavaScript</p>
    <div class="container-skilz ">
      <div class="skills js">65%</div>
    </div>
    
    <p>PHP</p>
    <div class="container-skilz ">
      <div class="skills php">60%</div>
    </div>

{% endblock %}