{% extends "layout.html" %}


{% block title %}
    Contact
{% endblock %}

{% block main %}


<section class="home-content">
    <div class="row portfolio-row justify-content-center">
        <div class="col-md-5">
            <div class="text-center">
                <h1 class="contact-header">Let's Connect!</h1>
                <h5>Please shoot me an e-mail with any suggestions, comments, or concerns.</h5>
            </div>
        </div>
    </div>
<div class="contact">
    <h1>Let's Connect!</h1>
    <h5>Please shoot me an e-mail with any suggestions, comments, or concerns.</h5>

    <form action="{{ url_for('contact') }}" method=post>
        <div>
            <!-- name forms -->
            <p>
                {{ form.name.label }} <br>
                {{ form.name(placeholder='Your name') }}
            </p>
            <!-- email forms -->
            <p>
                {{ form.email.label }} <br>
                {{ form.email(placeholder='Your e-mail ...') }}
            </p>
            <!-- Subject of your request -->
            <p>
                {{ form.subject.label }}<br>
                {{form.subject(placeholder='Your subject ...')}}
            </p>
            <!-- Content of your request -->
            <p>
                {{ form.message.label }}<br>
                {{ form.message(placeholder='Write your request ...') }}
            </p>
            <!-- Submit button -->
            <p>
                {{ form.submit }}
            </p>
        </div>
    </form>
</div>
</section>

{% endblock %}



