
{% extends "layout.html" %}



{% block title %}
    Index
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h2 class="index-header">My Latest Project</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>Analyzing My Garmin Running Data</h6>
                        </div>
                    </div>
                    <div class="row">
                        <a target="_blank" href="/garmin">
                            <img class="portfolio-img" src="/static/img/garmin.png">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            <a class="about-link" href="https://github.com/annakoretchko/garmin_analysis">This way</a> to see the source code and package,
                            <a class="about-link" href="/garmin">and this way</a> to interact with the results!
                        </p>
                    </div>

                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <!-- <h2 class="index-header">My most recent course</h2> -->
                            <h2 class="index-header">Currently Working On</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <!-- <h6>Udacity's Intro to Data Structures and Algorithms</h6> -->
                            <h6>Algorithmic Trading: Removing Human Bias</h6>

                        </div>
                    </div>
                    <div class="row">
                        <!-- <a target="_blank" href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">
                            <img class="portfolio-img" src="/static/img/udacity.png">
                        </a> -->
                        <a target="_blank" href="https://github.com/annakoretchko/simple_trade/tree/master">
                            <img class="portfolio-img" src="/static/img/derivative.png">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            And <a target="_blank" class="about-link" href="/portfolio">this way</a> to see more of my projects!
                        </p>
                    </div>
                </div>
                <div class="col-8 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <!-- <h2 class="index-header">My most recent course</h2> -->
                            <h2 class="index-header">Fun Interactive Network Graph</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <!-- <h6>Udacity's Intro to Data Structures and Algorithms</h6> -->
                            <h6>Nodes, edges and weights are commonly used in data science today as the world increasingly places more value on network graphs. This graph allows the user to explore relationships between board games that are commonly played amongst the same user.</h6>
    
                        </div>
                    </div>
                    <div class="row">
                        <!-- <a target="_blank" href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">
                            <img class="portfolio-img" src="/static/img/udacity.png">
                        </a> -->
                        <a target="_blank" href="/graph">
                            <img class="portfolio-img" src="/static/img/network_graph.png">
                        </a>
                    </div>
                    <div class="index-bottom text-center">

                        Click <a class="about-link" href="https://github.com/annakoretchko/board-game-analysis">here</a> to see the source code
                        <a class="about-link" href="/graph">and this way</a> to play with the graph!
                    
                    </div>
                </div>
            </div>


            
        </div>

   

  

    <div class="row about-row justify-content-center">
        <div class="col-12 p- text-center">
            <h2 class="index-header">My Skills:</h2>
        </div>
    </div>
    <div class="row row-legend justify-content-center">
        <div class="col-12 p-0 text-center">
            <p>
                1 - Basic<span class="about-legend"></span>
                2 - Novice<span class="about-legend"></span>
                3 - Intermediate
            </p>
            <p class="m-0">
                4 - Advanced<span class="about-legend"></span>
                5 - Expert
            </p>
        </div>
    </div>
    <div class="row about-row justify-content-center">
        {% for topic, one_skill in skills.items() %}
        <div class="col-lg-3 col-md-6 col-12">
            <div class="skill-cat text-center">
                <h5>{{ topic }}</h5>
            </div>
            <div class="row">
                {% for item in one_skill %}
                {% set level = item[1]/5*100 %}
                <div class="col-12 text-right">
                    <p>{{ item[0] }} - {{ item[1] }}</p>
                    <div class="skill-bar">
                        <div class="skill-spec2" style="width: {{ level }}%;">
                        </div>
                        <span class="tooltiptext">{{ item[2] }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
   
    </section>

    

{% endblock %}