
{% extends "layout.html" %}



{% block title %}
    Index
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h2 class="index-header">My Latest Project</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>How to Build a Data Science Portfolio Website</h6>
                        </div>
                    </div>
                    <div class="row">
                        <a target="_blank" href="https://github.com/annakoretchko/personal-website">
                            <img class="portfolio-img" src="/static/img/portfolio-website.png">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            <a class="about-link" href="https://github.com/annakoretchko/personal-website">This way</a> to see the source code for the website you're currently on!
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <!-- <h2 class="index-header">My most recent course</h2> -->
                            <h2 class="index-header">Currently Working On</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <!-- <h6>Udacity's Intro to Data Structures and Algorithms</h6> -->
                            <h6>Algorithmic Trading -- Removing Human Bias</h6>

                        </div>
                    </div>
                    <div class="row">
                        <!-- <a target="_blank" href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">
                            <img class="portfolio-img" src="/static/img/udacity.png">
                        </a> -->
                        <a target="_blank" href="https://github.com/annakoretchko/simple_trade/tree/master">
                            <img class="portfolio-img" src="/static/img/algo_trade_2.png">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            And <a target="_blank" class="about-link" href="/portfolio">this way</a> to see more of my projects!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <head>
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
    
          // Load the Visualization API and the piechart package.
          google.charts.load('current', {'packages':['corechart']});
    
          // Set a callback to run when the Google Visualization API is loaded.
          google.charts.setOnLoadCallback(drawChart);
    
          // Callback that creates and populates a data table,
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawChart() {
    
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Mushrooms', 3],
              ['Onions', 1],
              ['Olives', 1], 
              ['Zucchini', 1],
              ['Pepperoni', 2]
            ]);
    
            // Set chart options
            var options = {'title':'How Much Pizza I Ate Last Night',
                           'width':400,
                           'height':300};
     
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    
            function selectHandler() {
              var selectedItem = chart.getSelection()[0];
              if (selectedItem) {
                var topping = data.getValue(selectedItem.row, 0);
                alert('The user selected ' + topping);
              }
            }
    
            google.visualization.events.addListener(chart, 'select', selectHandler);    
            chart.draw(data, options);
          }
    
        </script>
      </head>
      <body>
        <!--Div that will hold the pie chart-->
        <div id="chart_div" style="width:400; height:300"></div>
      </body>

{% endblock %}