
{% extends "layout.html" %}


{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">

        
            <div class="row portfolio-row justify-content-center">
         
                <div class="col-12 col-md-5">
                    <div class="text-center">
                        <a class="title-link" target="_blank" href="https://github.com/annakoretchko"><h5>First Project</h5></a>
                        <p class="project-des">
                            Describe Project 1 here
                        </p>
                        <p class="skills-port">
                           
                            <span class="bold">Skills:</span> Describe Project 1 here
                        </p>
                    
                   
                    </div>
                    <div class="row">
                        <a target="_blank" href="https://github.com/annakoretchko">
                            <img class="portfolio-img" src="/static/img/network_graph.png">
                        </a>
                    </div>
                    <div class="row">
       
                        <div class="col-6 text-center">
                            <a target="_blank" href="https://github.com/annakoretchko" class="button btn portfolio-btn rounded-0">Try it here!</a>
                        </div>
                  
                        <div class="col-6 text-center">
                            <a target="_blank" href="https://github.com/annakoretchko" class="button btn portfolio-btn rounded-0">Code</a>
                        </div>
            
                    </div>
                </div>

                        <div class="col-12 col-md-5">
                            <div class="text-center">
                                <a target="_blank" class="title-link" href="https://github.com/annakoretchko"><h5>Project 2</h5></a>
                                <p class="project-des">
                                    Describe Project 2 here
                                </p>
                                <p class="skills-port">
                                    <span class="bold">Skills:</span> skillwords
                                </p>
                            </div>
                            <div class="row">
                                <a target="_blank" href="https://github.com/annakoretchko">
                                    <img class="portfolio-img" src="/static/img/network_graph.png">
                                </a>
                            </div>
                            <div class="row">
                         
                                <div class="col-6 text-center">
                                    <a target="_blank" href="https://github.com/annakoretchko" class="button btn portfolio-btn rounded-0">Try it here!</a>
                                </div>
                         
                                <div class="col-6 text-center">
                                    <a target="_blank" href="https://github.com/annakoretchko" class="button btn portfolio-btn rounded-0">Code</a>
                                </div>
                         
                            </div>
                        </div>
     
            </div>
    

            <div class="container p-0">

        
                <div class="row portfolio-row justify-content-center">
             
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <a class="title-link" target="_blank" href="https://github.com/annakoretchko"><h5>First Project</h5></a>
                            <p class="project-des">
                                Describe Project 1 here
                            </p>
                            <p class="skills-port">
                               
                                <span class="bold">Skills:</span> Describe Project 1 here
                            </p>
                        
                       
                        </div>
                        <div class="row">
                            <a target="_blank" href="https://github.com/annakoretchko">
                                <img class="portfolio-img" src="/static/img/network_graph.png">
                            </a>
                        </div>
                        <div class="row">
           
                            <div class="col-6 text-center">
                                <a target="_blank" href="https://github.com/annakoretchko" class="button btn portfolio-btn rounded-0">Try it here!</a>
                            </div>
                      
                            <div class="col-6 text-center">
                                <a target="_blank" href="https://github.com/annakoretchko" class="button btn portfolio-btn rounded-0">Code</a>
                            </div>
                
                        </div>
                    </div>
    
                            <div class="col-12 col-md-5">
                                <div class="text-center">
                                    <a target="_blank" class="title-link" href="https://github.com/annakoretchko"><h5>Project 2</h5></a>
                                    <p class="project-des">
                                        Describe Project 2 here
                                    </p>
                                    <p class="skills-port">
                                        <span class="bold">Skills:</span> skillwords
                                    </p>
                                </div>
                                <div class="row">
                                    <a target="_blank" href="https://github.com/annakoretchko">
                                        <img class="portfolio-img" src="/static/img/network_graph.png">
                                    </a>
                                </div>
                                <div class="row">
                             
                                    <div class="col-6 text-center">
                                        <a target="_blank" href="https://github.com/annakoretchko" class="button btn portfolio-btn rounded-0">Try it here!</a>
                                    </div>
                             
                                    <div class="col-6 text-center">
                                        <a target="_blank" href="https://github.com/annakoretchko" class="button btn portfolio-btn rounded-0">Code</a>
                                    </div>
                             
                                </div>
                            </div>
         
                </div>
        

            
    </section>

{% endblock %}