
{% extends "layout.html" %}


{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <section class="home-content">

        
        <div class="container p-0">
        
            <div class="row portfolio-row justify-content-center">
         
                <div class="col-12 col-md-5">
                    <div class="text-center">
                        <a class="title-link" target="_blank" href="https://github.com/annakoretchko/personal-website"><h5>Personal Website</h5></a>
                        <p class="project-des">
                            Created a personal website to work on my development skills, showcase projects, and connect with people. 
                        </p>
                        <p class="skills-port">
                           
                            <span class="bold">Skills:</span> flask, API, boostrap, CSS, HTML, python, OOP, deployment
                        </p>
                    
                   
                    </div>
                    <div class="row">
                        <a target="_blank" href="https://github.com/annakoretchko/personal-website">
                            <div class='img1'></div>
                            <img class="portfolio-img" src="/static/img/portfolio-website2.png">
                            <div class='img1'></div>
                        </a>
                    </div>
                    <div class="row">
    
                        <div class="col-12 text-center">
                            <a target="_blank" href="https://github.com/annakoretchko/personal-website" class="button btn portfolio-btn rounded-0">Code</a>
                        </div>
            
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="text-center">
                        <a class="title-link" target="_blank" href="https://github.com/annakoretchko/garmin_analysis"><h5>Garmin Analysis</h5></a>
                        <p class="project-des">
                            Created a package that analyzes my Garmin data and creates graphs to help explore my training data and fitness levels over time. 
                        </p>
                        <p class="skills-port">
                           
                            <span class="bold">Skills:</span> pandas, Google Charts, python package, data wrangling
                        </p>
                    
                   
                    </div>
                    <div class="row">
                        <a target="_blank" href="/garmin">
                            <div class='img2'></div>
                            <img class="portfolio-img" src="/static/img/garmin2.png">
                            <div class='img2'></div>
                        </a>
                    </div>
                    <div class="row">
       
                        <div class="col-6 text-center">
                            <a target="_blank" href="/garmin" class="button btn portfolio-btn rounded-0">Try it here!</a>
                        </div>
                  
                        <div class="col-6 text-center">
                            <a target="_blank" href="https://github.com/annakoretchko/garmin_analysis" class="button btn portfolio-btn rounded-0">Code</a>
                        </div>
            
                    </div>
     
            </div>
    






            <div class="container p-0">

        
                <div class="row portfolio-row justify-content-center">
             
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <a class="title-link" target="_blank" href="https://github.com/annakoretchko/model-exploration"><h5>Machine Learning Model Exploration</h5></a>
                            <p class="project-des">
                                One of the best ways to learn about modeling is to just mess around with all models. The goal of this repo is to employ different models, hyper-tuning techniques, and software structure.
                                
                            </p>
                            <p class="skills-port">
                               
                                <span class="bold">Skills:</span> Machine Learning, model training, OOP, Regression, SVM, Neural Network, Bootstrap, Random Forest, Classifier, Hypyer-tuning
                            </p>
                        
                       
                        </div>
                        <div class="row">
                            <a target="_blank" href="https://github.com/annakoretchko/model-exploration">
                                <div class='img3'></div>
                                <img class="portfolio-img" src="/static/img/Random-Forest-vs-SVM-on-Spam-Emails.png">
                                <div class='img3'></div>
                            </a>
                        </div>
                        <div class="row">
           
                            <div class="col-6 text-center">
                                <a target="_blank" href="https://github.com/annakoretchko/model-exploration" class="button btn portfolio-btn rounded-0">Jupyter Walkthrough</a>
                            </div>
                      
                            <div class="col-6 text-center">
                                <a target="_blank" href="https://github.com/annakoretchko/model-exploration" class="button btn portfolio-btn rounded-0">Code</a>
                            </div>
                
                        </div>
                    </div>
    
                            <div class="col-12 col-md-5">
                                <div class="text-center">
                                    <a target="_blank" class="title-link" href="https://github.com/annakoretchko/board-game-analysis"><h5>Board Game Analysis Network Graph</h5></a>
                                    <p class="project-des">
                                        Nodes, edges and weights are commonly used in data science today as the world increasingly places more value on network graphs. This graph allows the user to explore relationships between board games that are commonly played amongst the same user.
                                    </p>
                                    <p class="skills-port">
                                        <span class="bold">Skills:</span> edges, nodes, weights, d3, flask, data wrangling, javascript, html, OOP
                                    </p>
                                </div>
                                <div class="row">
                                    <a target="_blank" href="/graph">
                                        <div class='img4'></div>
                                        <img class="portfolio-img" src="/static/img/network_graph.png">
                                        <div class='img4'></div>
                                    </a>
                                </div>
                                <div class="row">
                             
                                    <div class="col-6 text-center">
                                        <a target="_blank" href="/graph" class="button btn portfolio-btn rounded-0">Try it here!</a>
                                    </div>
                             
                                    <div class="col-6 text-center">
                                        <a target="_blank" href="https://github.com/annakoretchko/board-game-analysis" class="button btn portfolio-btn rounded-0">Code</a>
                                    </div>
                             
                                </div>
                            </div>
         
                </div>
        



            <div class="container p-0">

        
                <div class="row portfolio-row justify-content-center">
             
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <a class="title-link" target="_blank" href="https://github.com/annakoretchko/board-game-analysis"><h5>Board Game Analysis Choropleth Map</h5></a>
                            <p class="project-des">
                                This geographical illustration lets the user interact and see where games are popular across the world! You'd be surprised by the amount of board game data available for data science!
                            </p>
                            <p class="skills-port">
                               
                                <span class="bold">Skills:</span> d3, flask, data wrangling, javascript, html, json, OOP
                            </p>
                        
                       
                        </div>
                        <div class="row">
                            <a target="_blank" href="/choropleth">
                                <div class='img3'></div>
                                <img class="portfolio-img" src="/static/img/choropleth.png">
                                <div class='img3'></div>
                            </a>
                        </div>
                        <div class="row">
           
                            <div class="col-6 text-center">
                                <a target="_blank" href="/choropleth" class="button btn portfolio-btn rounded-0">Try it here!</a>
                            </div>
                      
                            <div class="col-6 text-center">
                                <a target="_blank" href="https://github.com/annakoretchko/board-game-analysis" class="button btn portfolio-btn rounded-0">Code</a>
                            </div>
                
                        </div>
                    </div>
    
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <a class="title-link" target="_blank" href="https://github.com/annakoretchko/board-game-analysis"><h5>Board Game Analysis Line Graph</h5></a>
                            <p class="project-des">
                                My family is extremely competitive and loves to play board games. I wanted to work on some of my interactive data visualization skills and decided to use board game data as inspiration. The graph analyzes board game rankings by user over time and helps explore which games are popular today!
                            </p>
                            <p class="skills-port">
                               
                                <span class="bold">Skills:</span> d3, flask, data wrangling, javascript, html, OOP
                            </p>
                        
                       
                        </div>
                        <div class="row">
                            <a target="_blank" href="/interactive">
                                <div class='img3'></div>
                                <img class="portfolio-img" src="/static/img/interactive.png">
                                <div class='img3'></div>
                            </a>
                        </div>
                        <div class="row">
           
                            <div class="col-6 text-center">
                                <a target="_blank" href="/interactive" class="button btn portfolio-btn rounded-0">Try it here!</a>
                            </div>
                      
                            <div class="col-6 text-center">
                                <a target="_blank" href="https://github.com/annakoretchko/board-game-analysis" class="button btn portfolio-btn rounded-0">Code</a>
                            </div>
                
                        </div>
                    
         
                </div>
        
            <html>

    </section>

{% endblock %}