{% extends "layout.html" %}


{% block title %}
    Strava
{% endblock %}

{% block main %}
<style>
    .title-link-strava
{
    color: navy;
}
.stats-img {  
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
border: 3px solid black;  

}  
</style>

<section class="home-content">

        
    <div class="container p-0">
    
        <div class="row portfolio-row justify-content-center">
     

         

            <main class="container p-0"> 


                <div class="col-12 col-md-5">
                    <div class="lead">
                        <a class="title-link-strava" target="_blank" href="https://github.com/annakoretchko/strava_analysis"><h5>Where Do I Run Faster?</h5></a>
                        <p class="lead">
                            I lived in hilly Raleigh, North Carolina for a year and have been in warm flat South Florida since then. I wanted to see if I ran faster in the cold mountains of NC or flat humidity of FL. 
                        </p>
                    </div>
                    
                </div>
            <div class = "chart" id = "location_graph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('location_graph',graphs,{});
                </script>
            </div>
            
            <a>Alas, it appears I ran pretty much the same at both locations (although my Max was higher in NC...maybe all those downhills...)</a>
            <a>Let's check elevation vs speed to see!</a>
            
            <div class = "chart" id = "elevation_graph">
                <script>
                    var graphs2 = {{plot2 | safe}};
                    Plotly.plot('elevation_graph',graphs2,{});
                </script>
            </div>
            <a>There does seem to be a semi strong negative correlation here!</a>
            <a>The higher the elevation, the slower I go...proof hills are the worst.</a>
            <br>
   
            <p class="lead">Just to confirm this, let's try a few different models.</p>

            <form name = "model_selection"  method="post">
        
            <select class="form-select" id = "model_selection" name  = "model_selection" aria-label="Default select example" >
                <option disabled selected value> -- Choose a Model -- </option>
                <option value="Regression">Linear Regression</option>
                <option value="DecisionTree">Decision Tree</option>
                <option value="knn">k-NN</option>
                
              </select>
       
              <button type = 'submit' id = 'submit' class = 'btn btn-primary'>Submit</button>
            </form>
            <div class = "chart" id = "mutiple_models">
                <script>
                    var graphs3 = {{plot3 | safe}};
                    Plotly.plot('mutiple_models',graphs3,{});
                </script>
            </div>
            <p class="lead">Yup, all models come to the same conclusions; Hills just aren't fun to run up. </p>

            <a class="title-link-strava" target="_blank" href="https://support.strava.com/hc/en-us/articles/216918397-What-is-Kudos-"><h5>The question we have all been waiting for...can we predict the number of Kudos I will get on a certain run?</h5></a>
       
            <div class = "chart" id = "MLR">
                <script>
                    var graphs4 = {{plot4 | safe}};
                    Plotly.plot('MLR',graphs4,{});
                </script>
            </div>
            <p class="lead">Looks like none of the features we have do a great job of predicting Kudos. I suppose my friends are more flippant when it comes to handing out kudos. </p>
            <p class="lead">Here is the Ordinary Least Squares (OLS) Regression Results of testing all the features. You can see the low R^2 value (.27, we want closer to 1) is indicative of these features not being highly correlated with the amount of kuods given.</p>
       
      

            <a target="_blank" href="https://github.com/annakoretchko/strava_analysis/blob/master/strava_analysis/jupyter_visuals/data_visualization.ipynb">
                <div class='img3'></div>
                <img class="stats-img" src="/static/img/stats_output.png">
                <div class='img3'></div>
            </a>
            <br>
            <a class="title-link-strava" target="_blank" href="https://github.com/annakoretchko/strava_analysis"><h5>Thanks for joining me on this Strava journey. If you want to see how I used the API to get the data or look at more analysis, click here!</h5></a>
            
            {% endblock %}
